Repository kdeldycke/meta-package-manager, pull requests merged in 2020-03, with the labels that each got.

#58 Fix for Homebrew 2.1.15
  .gitignore
  meta_package_manager/managers/gem.py
  meta_package_manager/managers/homebrew.py
  meta_package_manager/managers/opkg.py
  meta_package_manager/managers/pip.py
Labels: bug, manager: brew, manager: dpkg-like, manager: gem, manager: pip, platform: macOS

#60 [BASE]: declare default class members
  meta_package_manager/base.py
Labels: enhancement, manager: mpm

#63 [NPM]: 'install package@version' instead of 'update package’
  CHANGES.rst
  meta_package_manager/managers/npm.py
Labels: enhancement, manager: npm

#64 Add support for Yarn package manager
  CHANGES.rst
  README.rst
  docs/api/managers/index.rst
  docs/api/managers/yarn.rst
  meta_package_manager/managers/__init__.py
  meta_package_manager/managers/yarn.py
  meta_package_manager/tests/test_cli.py
  meta_package_manager/tests/test_managers.py
Labels: enhancement, manager: npm-like, platform: linux, platform: macOS
